* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
h3,
a,
p,
span {
  font-family: "Rubik", sans-serif;
}

/* nav bar */
nav {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 40px;
  height: 50px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

/* nav barlink styles */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

/* bottom border when hovered over */
nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
  transition: all 0.5s ease;
  opacity: 0;
}

nav a:hover:before {
  opacity: 1;
}

/* place hammer logo on far left */
.nav-logo {
  position: absolute;
  left: 1rem;
}

/* turn off underline animation for logo */
.nav-logo>a:before {
  border-bottom: transparent;
}

/* place sign in button on far right */
.nav-sign-in {
  position: absolute;
  right: 2rem;
}

/* main pages */
main {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  align-items: center;
	justify-content: center;
  display: flex;
}

.slides {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.welcome-slide {
  background: linear-gradient(#000000 20%, #020410 85%, #0f2950 95%, #1f619e);
}

.who-we-are-slide {
  background: linear-gradient(#1f619e 50%, #2673c0);
}

.what-we-do-slide {
  background: linear-gradient(#2673c0 70%, #4792c7);
}

.join-us-slide {
  background: linear-gradient(#4792c7 20%, #49a1e0);
}


::-webkit-scrollbar {
  width: 0px;
}