* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

/* nav bar */
nav {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 50px;
  height: 50px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

/* nav barlink styles */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
}

/* bottom border when hovered over */
nav a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
  transition: all 0.5s ease;
  opacity: 0;
}

nav a:hover:before {
  opacity: 1;
}

/* place hammer logo on far left */
.nav-logo {
  position: absolute;
  left: 1rem;
}

/* turn off underline animation for logo */
.nav-logo>a:before {
  border-bottom: transparent;
}

/* place sign in button on far right */
.nav-sign-in {
  position: absolute;
  right: 2rem;
}

/* main pages */
main {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

main>.welcome-slide {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#000000 20%, #020410 85%, #0f2950 95%, #1f619e);
  background-repeat: no-repeat;
  background-size: cover;
}

main>.who-we-are-slide {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#1f619e 50%, #2673c0);
}

main>.what-we-do-slide {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#2673c0 80%, #4792c7);
}

main>.join-us-slide {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(#4792c7 20%, #49a1e0);
}

/* swapping pages functionality */
main>div[data-status="active"] {
  transform: translateY(0%);
}

main>div[data-status="inactive"] {
  transform: translateY(100%);
}